@media screen and (max-width: 768px) {
    header:not(.indexpage2) {
        height: 250px;
    }
    .indexpage2 {
        height: 350px;
    }
    .links .left-link {
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        padding-bottom: 20px;
    }

    .links .right-link {
        padding-top: 20px;
        text-align: center;
    }

    .bottom {
        text-align: center;
    }

    .links ul>.head {
        margin-top: 10px;
        margin-bottom: 12px;
    }

    .middle-footer .main-content {
        padding: 40px 15px;
    }

    .seperate-left {
        border-bottom: 2.5px solid #eee;
        padding-bottom: 30px;
    }

    .seperate-right {
        padding-top: 30px;
    }

    .contact-card {
        padding: 50px 50px;
    }

    .right-link .email {
        font-weight: bold;
        font-size: 5vw;
    }

    .middle-footer .main-content .heading {
        font-size: 5vw;
    }

    .size-responsive {
        text-align: center;
    }

    .section-heading {
        font-size: 8vw;
    }

    .section-sub-heading {
        font-size: 5vw;
    }

    .input-responsive {
        width: 100%;
    }

    .trial-content form input[type=submit] {
        padding: 1vw 4vw;
    }

    .evaluation-section {
        padding-top: 5px;
        padding-bottom: 40px;
    }

    .evaluation-section .heading {
        font-weight: bold;
        font-size: 6vw;
        color: rgba(2, 48, 7, 0.8);
    }

    .hover-box-item {
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .for-drivers-heading {
        font-size: 8vw;
    }

    .border-slide-button {
        padding: 5px 20px;
        font-size: 2vw;
    }

    .brand-div {
        box-shadow: 0px 43px 30px 3px #ccc;
        padding: 10px 10px !important;
    }

    .brand-list {
        padding: 20px 20px;
    }

    .steps-section {
        margin-top: 80px;
        margin-bottom: 50px;
    }

    .become-driver {
        margin-top: 80px;
        margin-bottom: 50px;
    }
    .page-heading {
        font-size: 3.5vw !important;
        text-align: center;
    }
    .index-bgimage small {
        font-size: 3.7vw !important;
    }
    .other-bgimage small, .other-bgimage a {
        font-size: 3.7vw !important;
    }
    .contact-header {
        font-size: 10vw !important;
    }
    .faq-title {
        font-size: 10vw;
    }
    .privacy-card {
        padding: 15px 25px;
    }
    .contact-card {
        padding: 5px 5px;
    }
    .list-seperated .list-item {
        font-size: 6vw;
    }
    .page-heading-only .description {
        font-size: 3vw;
        text-align: center;
    }
    .custom-card .heading {
        font-size: 15vw !important;
    }
    .retargeting-section .heading {
        font-size: 10vw !important;
    }
    .dashboard-section .heading {
        font-size: 10vw !important;   
    }
    .faq-list {
        padding: 0px 20px !important;
    }
    .button-row-div {
        justify-content: space-around;
    }
    .form-header {
        text-align: center;
    }
    .contact-section {
        margin-top: -60px;
    }
    header.indexpage {
        height: 400px;
    }
    header.indexpage .page-heading {
        font-size: 7vw !important;
        text-align: left;
    }
    header.indexpage2 .page-heading {
        font-size: 6vw !important;
        text-align: left;
    }
    header.indexpage2 small, header.indexpage2 a {
        font-size: 4vw !important;
    }
    .fairextra-intro {
        padding: 30px 20px !important;
    }
    .fairextra-intro .intro-div {
        min-height: 350px !important;
    }
    .fairextra-intro .intro-div .heading {
        font-size: 10vw;
    }
    .fairextra-intro .intro-div .subtitle {
        font-size: 7vw !important;
    }
    .fairextra-intro .intro-div .description {
        font-size: 5vw !important;
    }
    .grid-image-block .bg-image {
        min-height: 380px;
    }
    .grid-image-block .heading {
        font-size: 9vw;
    }
    .grid-center {
        height: 450px;
    }
    .grid-center .heading {
        padding: 0px 4px;
        font-size: 9vw;
    }
    .for-drivers {
        height: 350px;
    }
    .for-drivers .heading {
        font-size: 10vw;
    }
    .for-drivers .description {
        font-size: 4vw;
    }
    .for-drivers .border-slide-button {
        font-size: 5vw;
    }
    .index-header-row {
        align-items: flex-start;
    }
    .indexbody2 .brand-div {
        margin-top: -50px;
        background: white;
    }
    .column-layout {
        padding: 20px 7px 40px 7px;
    }
    .comment-card {
        padding: 2px 5px;
        width: 80vw;
        font-size: 3vw;
    }
    .img-dir-left .comment-card {
        right: 0;
        bottom: -34px;
    }
    .img-dir-right .comment-card {
        left: 0px;
        bottom: -35px;
    }
    .comment-card .user-icon img {
        width: 20px;
        border-radius: 20px;
    }
    .nav-row { 
        position: absolute;
        top: 100%;
        background: white;
        z-index: 10;
        color: black;
        text-align: center;
    }
    .nav-row .nav-item .nav-link {
        padding: 15px 0px;
        width: 100%;
    }
    .navbar a.nav-link {
        color: brown;
    }
}

@media screen and (min-width: 768px) {
    .links .left-link {
        border-right: 1px solid rgba(255, 255, 255, 0.6);
        padding-right: 140px;
    }

    .nav-link {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .seperate-left {
        border-right: 2.5px solid #eee;
    }

    .contact-card {
        padding: 50px 100px;
    }

    .seperate-left {
        padding-right: 50px !important;
    }

    .seperate-right {
        padding-left: 50px !important;
    }

    .right-link .email {
        font-size: 2vw;
    }

    .middle-footer .main-content .heading {
        font-size: 3vw;
    }

    .section-heading {
        font-size: 3vw;
    }

    .section-sub-heading {
        font-size: 1.8vw;
    }

    .input-responsive {
        width: 60%;
    }

    .evaluation-section {
        padding-top: 80px;
        padding-bottom: 140px;
    }

    .evaluation-section .heading {
        font-weight: bold;
        font-size: 2vw;
        color: rgba(2, 48, 7, 0.8);
    }

    .for-drivers-heading {
        font-size: 3vw;
    }

    .brand-div {
        box-shadow: 0px 43px 30px 3px #ccc;
        padding: 30px 80px !important;
    }

    .indexbody2 .brand-div {
        box-shadow: 0px 43px 30px 3px #ccc;
        padding: 10px 80px !important;
    }

    .brand-list {
        padding: 20px 70px;
    }

    .steps-section {
        margin-top: 80px;
        margin-bottom: 100px;
    }

    .become-driver {
        margin-top: 80px;
        margin-bottom: 100px;
    }
    .button-row-div {
        justify-content: center;
    }
    .page-heading-only .description {
        font-size: 2vw;
    }
    .faq-link {
        margin: 0px 120px;
    }
    .fairextra-intro {
        height: 600px;
    }
    .indexbody2 .fairextra-intro {
        height: 300px;
    }
    .fairextra-intro .intro-div .heading {
        font-size: 35px;
    }
    .grid-center {
        height: 750px;
    }
    .for-drivers .heading {
        font-size: 45px;
    }
    .index-header-row {
        align-items: center;
    }
    .column-layout {
        padding: 20px 0px 100px 0px;
    }
    .indexbody2 .brand-div {
        margin-top: -130px;
        background: white;
    }
    .column-layout .heading {
        font-size: 30px;
    }
    .column-layout .description {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.4);
    }
    .comment-card {
        padding: 33px 30px;
        width: 430px;
    }
    .img-dir-left .comment-card {
        right: 20px;
        bottom: -34px;
    }
    .img-dir-right .comment-card {
        left: -30px;
        bottom: -35px;
    }
    .comment-card .user-icon img {
        width: 45px;
        border-radius: 20px;
    }
    .column-layout img {
        width: 94%;
    }
    .hover-list > .hover-items {
        padding-right: 10px;
        padding-left: 10px;
    }
}