body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-image: url('../images/1.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.overlap-image {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

a:hover {
    text-decoration: none;
}

.navbar a.nav-link {
    color: seashell;
    display: inline-block;
}

.navbar-toggler span {
    color: white;
}

.navbar-toggler {
    outline: none;
}

ul.navbar-links {
    max-width: -webkit-fill-available;
    overflow: auto;
}

.page-heading-only {
    height: calc(100% - 103px);
    font-size: 50px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

.faq-section, .contact-section, .privacy-section {
    margin: 90px auto;
}

.custom-card {
    border-radius: 15px;
    border: 1px solid #ccc;
    background: white;
}

.custom-card > .custom-header > .heading {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.custom-card > .custom-header > .description {
    margin-bottom: 25px;
    text-align: center;
}

.custom-card .accordian {
    border-top: 1px solid #ccc;
    padding: 15px 40px;
}

.accordian > .title {
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.middle-footer  .main-content {
    background: #eee;
    box-shadow: 3px 5px 30px -8px #aaa;
    padding: 40px 120px;
}

.middle-footer  .main-content .heading {
    font-weight: bold;
}

footer > .footer {
    background: darkblue;
    margin-top: -110px;
    padding: 190px 20px 5px 20px;
    position: relative;
    z-index: 1;
    color: white;
}

footer > .middle {
    z-index: 2;
    position: relative;
}

img.url {
    cursor: pointer;
}

.footer .contact-detail {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.footer .links {
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.footer .links a {
    color: white;
}

.links ul > .head {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}

.links ul > li:not(.head) {
    display: block;
    padding: 6px 0px;
}


@media screen and (max-width: 768px) {
    .links .left-link {
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        padding-bottom: 20px;
    }
    .links .right-link {
        padding-top: 20px;
        text-align: center;
    }
    .bottom {
        text-align: center;
    }
    .links ul > .head {
        margin-top: 10px;
        margin-bottom: 12px;
    }
    .middle-footer .main-content {
        padding: 40px 15px;
    }
    .seperate-left {
        border-bottom: 2.5px solid #eee;
        padding-bottom: 30px;
    }
    .seperate-right {
        padding-top: 30px;
    }
    .contact-card {
        padding: 50px 50px;
    }
    .right-link .email {
        font-weight: bold;
        font-size: 5vw;
    }
    .middle-footer  .main-content .heading {
        font-size: 5vw;
    }
    .size-responsive {
        text-align: center;
    }
    .section-heading {
        font-size: 8vw;
    }
    .section-sub-heading {
        font-size: 5vw;
    }
    .input-responsive {
        width: 100%;
    }
    .trial-content form input[type=submit] {
        padding: 1vw 4vw;
    }
    .evaluation-section {
        padding-top: 5px;
        padding-bottom: 40px;
    }
    .evaluation-section .heading {
        font-weight: bold;
        font-size: 6vw;
        color: rgba(2, 48, 7, 0.8);
    }
    .hover-box-item {
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}

@media screen and (min-width: 768px) {
    .links .left-link {
        border-right: 1px solid rgba(255, 255, 255, 0.6);
        padding-right: 140px;
    }
    .nav-link {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .seperate-left {
        border-right: 2.5px solid #eee;
    }
    .contact-card {
        padding: 50px 100px;
    }
    .seperate-left {
        padding-right: 50px;
    }
    .seperate-right {
        padding-left: 50px;
    }
    .right-link .email {
        font-size: 2vw;
    }
    .middle-footer  .main-content .heading {
        font-size: 3vw;
    }
    .section-heading {
        font-size: 3vw;
    }
    .section-sub-heading {
        font-size: 1.8vw;
    }
    .input-responsive {
        width: 60%;
    }
    .evaluation-section {
        padding-top: 80px;
        padding-bottom: 140px;
    }
    .evaluation-section .heading {
        font-weight: bold;
        font-size: 2vw;
        color: rgba(2, 48, 7, 0.8);
    }
}

.links .right-link .heading {
    font-weight: bold;
    text-transform: uppercase;
}

.right-link .email {
    font-weight: bold;
}

.social-links li a {
    display: inline-block;
    background-color: white;
    border-radius: 15px;
    width: 31px;
    height: 30px;
}

.social-links li {
    margin-right: 16px;
}

footer .bottom {
    padding-top: 5px;
}



.contact-section {
    margin-top: -200px;
}

.contact-header {
    padding-bottom: 200px;
}

.form-header {
    color: royalblue;
    font-size: 30px;
    font-weight: bold;
}

form .contact-form-desc {
    margin-top: 10px;
}

form .form-inputs {
    margin-top: 40px;
}

.contact-section .form-submit {
    border-radius: 5px;
    color: white;
    background-color: #4a25ba;
    border: none;
    padding: 10px 40px;
    box-shadow: 1px 1px 7px 3px #ccc;
}

.trial-content .form-submit {
    border-radius: 5px;
    color: white;
    background-color: #4a25ba;
    border: none;
    padding: 6px 22px;
    box-shadow: 1px 1px 7px 3px #ccc;
    font-weight: bold;
    letter-spacing: 1px;
}

.contact-content .head {
    color: #888;
}


.privacy-card {
    padding: 50px 50px;
}

.privacy-card .privacy-head {
    font-weight: bold;
}

.privacy-card .privacy-head, .privacy-card .privacy-content {
    text-align: center;
}

.privacy-card .privacy-content:not(:last-child) {
    margin-bottom: 30px;
}

.section-image {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.overlap-image1 {
    background-image: url('../images/middle-background.jpg');
}

.overlap-image2 {
    background-image: url('../images/lightening.jpg');
}

.overlap-image3 {
    background-image: url('../images/2a.jpg');
}

.overlap-image4 {
    background-image: url('../images/about-form-bg.jpg');
}

.about-section {
    padding: 9vw;
}

.about-section img {
    width: 250px;
    border-radius: 10px;
}

.who-we-section {
    padding: 3vw;
}

.about-form-section {
    padding-top: 5vw;
    padding-bottom: 3vw;
}

.team-location-section {
    padding-top: 9vw;
    padding-bottom: 9vw;
}

.section-heading {
    font-weight: bold;
    color: white;
}

.section-sub-heading {
    font-weight: bold;
    color: white;
}

.section-sub-desc {
    color: white;
}

.img-opacity-1 {
    background-color: rgba(0, 0, 0, 0.1);
}

.img-opacity-2 {
    background-color: rgba(0, 0, 0, 0.2);
}

.img-opacity-3 {
    background-color: rgba(0, 0, 0, 0.3);
}

.img-opacity-4 {
    background-color: rgba(0, 0, 0, 0.4);
}

.img-opacity-5 {
    background-color: rgba(0, 0, 0, 0.5);
}

.img-opacity-6 {
    background-color: rgba(0, 0, 0, 0.6);
}

.img-opacity-7 {
    background-color: rgba(0, 0, 0, 0.7);
}

.img-opacity-8 {
    background-color: rgba(0, 0, 0, 0.8);
}

.img-opacity-9 {
    background-color: rgba(0, 0, 0, 0.9);
}

.section-hr {
    background: cyan;
    width: 70%;
    margin-top: 0;
    height: 2px;
}

.team-locatoin-desc {
    text-align: center;
    color: white;
    font-size: 25px;
}

.form-div {
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.trial-content img {
    width: 200px;
    border-radius: 4px;
}

.trial-content {
    margin: 10px 20px;
    background: rgba(204, 204, 204,0.2);
}

.case-study {
    padding-top: 40px;
    padding-bottom: 140px;
}

.case-study .title {
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 30px;
    color: rgba(3, 41, 13, 0.8);
}

.case-study .description {
    color: rgba(3, 41, 13, 0.8);
}

.hover-items .overlap-image5 {
    background-image: url('../images/van-in-forest.jpg');
}

.hover-items .case1 {
    background-color: rgba(58, 186, 214, 0.6);
}

.hover-items .case2 {
    background-color: rgba(214, 58, 141, 0.6);
}

.hover-items .case3 {
    background-color: rgba(60, 214, 78, 0.6);
}

.hover-items .title {
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.hover-items .description {
    color: white;
    text-align: center;
}

.case1, .case2, .case3 {
    padding-bottom: 70px;
    padding-top: 70px;
}

.hover-list .hover-items:hover {
    transform: scale(1.1);
    transition: .5s;
}

.hover-box-item .title {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.hover-box-list .hover-box-item:hover {
    transition: .5s;
    box-shadow: 12px 7px 30px 6px #ccc;
}