body {
    font-family: 'Open Sans', sans-serif;
}

button:focus {
    outline: none;
}

.indexbody .page-heading {
    font-style: italic;
}

header.other-bgimage {
    background-image: url('../images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

header {
    font-family: 'Rubik', sans-serif;
    height: 600px;
}

header.indexpage2 {
    color: white;
}

header.indexpage2 small {
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
}

.overlap-image {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.31);
}

a:hover {
    text-decoration: none;
}

.navbar a.nav-link {
    color: seashell;
    display: inline-block;
}

.navbar-toggler span {
    color: white;
}

.navbar-toggler {
    outline: none;
}

ul.navbar-links {
    max-width: -webkit-fill-available;
    overflow: auto;
}

.page-heading-only {
    height: calc(100% - 115px);
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

.page-heading-only .page-heading {
    font-size: 50px;
}

.faq-section, .contact-section, .privacy-section {
    margin: 90px auto;
}

.custom-card {
    border-radius: 15px;
    border: 1px solid #ccc;
    background: white;
}

.custom-card > .custom-header > .heading {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.custom-card > .custom-header > .description {
    margin-bottom: 25px;
    text-align: center;
}

.custom-card .accordian {
    border-top: 1px solid #ccc;
    padding: 15px 40px;
}

.custom-card .description {
    color: rgba(0, 0, 0, 0.6);
    width: 100% !important;
}

.accordian > .title {
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.middle-footer  .main-content {
    background: #eee;
    box-shadow: 3px 5px 30px -8px #aaa;
    padding: 40px 120px;
}

.middle-footer  .main-content .heading {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

footer > .footer {
    background: darkblue;
    margin-top: -110px;
    padding: 190px 20px 5px 20px;
    position: relative;
    z-index: 1;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

footer > .middle {
    z-index: 2;
    position: relative;
}

img.url {
    cursor: pointer;
}

.footer .contact-detail {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.footer .links {
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.footer .links a {
    color: white;
}

.links ul > .head {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}

.links ul > li:not(.head) {
    display: block;
    padding: 6px 0px;
}

.links .right-link .heading {
    font-weight: bold;
    text-transform: uppercase;
}

.right-link .email {
    font-weight: bold;
}

.social-links li a {
    display: inline-block;
    background-color: white;
    border-radius: 15px;
    width: 31px;
    height: 30px;
}

.social-links li {
    margin-right: 16px;
}

footer .bottom {
    padding-top: 9px;
    padding-bottom: 5px;
}

.form-header {
    color: royalblue;
    font-size: 30px;
    font-weight: bold;
}

form .contact-form-desc {
    margin-top: 10px;
}

form .form-inputs {
    margin-top: 40px;
}

.contact-section .form-submit {
    border-radius: 5px;
    color: white;
    background-color: #4a25ba;
    border: none;
    padding: 10px 40px;
    box-shadow: 1px 1px 7px 3px #ccc;
}

.trial-content .form-submit {
    border-radius: 5px;
    color: white;
    background-color: #4a25ba;
    border: none;
    padding: 6px 22px;
    box-shadow: 1px 1px 7px 3px #ccc;
    font-weight: bold;
    letter-spacing: 1px;
}

.contact-content .head {
    color: #888;
}


.privacy-card {
    padding: 50px 50px;
}

.privacy-card .privacy-head {
    font-weight: bold;
}

.privacy-card .privacy-head, .privacy-card .privacy-content {
    text-align: center;
}

.privacy-card .privacy-content:not(:last-child) {
    margin-bottom: 30px;
}

.section-image {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.overlap-image1 {
    background-image: url('../images/middle-background.jpg');
}

.overlap-image2 {
    background-image: url('../images/lightening.jpg');
}

.overlap-image3 {
    background-image: url('../images/2a.jpg');
}

.overlap-image4 {
    background-image: url('../images/about-form-bg.jpg');
}

.about-section {
    padding: 9vw;
    font-family: 'Rubik';
}

.about-section img {
    width: 250px;
    border-radius: 10px;
}

.who-we-section {
    padding: 3vw;
}

.about-form-section {
    padding-top: 5vw;
    padding-bottom: 3vw;
}

.team-location-section {
    padding-top: 9vw;
    padding-bottom: 9vw;
}

.section-heading {
    font-weight: bold;
    color: white;
}

.section-sub-heading {
    font-weight: bold;
    color: white;
}

.section-sub-desc {
    color: white;
    text-align: center;
}

.img-opacity-1 {
    background-color: rgba(0, 0, 0, 0.1);
}

.img-opacity-2 {
    background-color: rgba(0, 0, 0, 0.2);
}

.img-opacity-3 {
    background-color: rgba(0, 0, 0, 0.3);
}

.img-opacity-4 {
    background-color: rgba(0, 0, 0, 0.4);
}

.img-opacity-5 {
    background-color: rgba(0, 0, 0, 0.5);
}

.img-opacity-6 {
    background-color: rgba(0, 0, 0, 0.6);
}

.img-opacity-7 {
    background-color: rgba(0, 0, 0, 0.7);
}

.img-opacity-8 {
    background-color: rgba(0, 0, 0, 0.8);
}

.img-opacity-9 {
    background-color: rgba(0, 0, 0, 0.9);
}

.section-hr {
    background: cyan;
    width: 70%;
    height: 2px;
}

.team-location-desc {
    text-align: center;
    color: white;
    font-size: 25px;
}

.form-div {
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.trial-content img {
    border-radius: 4px;
}

.trial-content {
    margin: 10px 20px;
    background: rgba(204, 204, 204,0.2);
}

.case-study {
    padding-top: 40px;
    padding-bottom: 140px;
}

.case-study .title {
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 30px;
    color: rgba(3, 41, 13, 0.8);
}

.case-study .description {
    color: rgba(3, 41, 13, 0.8);
}

.hover-items .overlap-image5 {
    background-image: url('../images/van-in-forest.jpg');
}

.hover-items .case1 {
    background-color: rgba(58, 186, 214, 0.6);
}

.hover-items .case2 {
    background-color: rgba(214, 58, 141, 0.6);
}

.hover-items .case3 {
    background-color: rgba(60, 214, 78, 0.6);
}

.hover-items .title {
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.hover-items .description {
    color: white;
    text-align: center;
}

.case1, .case2, .case3 {
    padding-bottom: 70px;
    padding-top: 70px;
}

.hover-list .hover-items.zoom {
    transform: scale(1.1);
    transition: .5s;
}

.hover-list .hover-items:not(.zoom) {
    transform: scale(0.9);
    transition: .5s;
}

.hover-box-item .title {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.hover-box-list .hover-box-item:hover {
    transition: .5s;
    border-radius: 5px;
    box-shadow: 12px 7px 30px 6px #ccc;
}

.contact-detail {
    padding-top: 20px;
    padding-bottom: 20px;
}


.for-drivers-heading {
    text-align: center;
    font-style: italic;
}

.border-slide-button {
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    padding: 15px 60px;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: .5s;
}

.border-slide-button:hover {
    border: 2px solid rgb(17, 50, 128);
    background: rgb(17, 50, 128);
}

.estimate-section .title {
    font-weight: bold;
    font-size: 30px;
}

.estimate-section .description {
    color: rgb(0, 0, 0, 0.5);
}

.slider img {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.estimate-section .estimate-title {
    color: rgba(0, 0, 0, 0.8);
}
.estimate-section .estimate-range {
    font-weight: bold;
    font-size: 30px;
}
.estimate-section .estimate-duration {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
}

.steps-section .heading {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.steps-section .step-div {
    text-align: center;
}

.steps-section .title {
    font-weight: bolder;
    font-size: 27px;
}

.steps-section .description {
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.7);
}

.overlap .number {
    font-size: 88px;
    font-weight: bold;
    color: #eee;
}

.overlap i {
    font-size: 30px;
    font-weight: bold;
    color: #185bc7;
    border-radius: 80px;
    border: 1px solid #185bc7;
    padding: 40px;
    margin-left: -28px;
    background: white;
}

.overlap i:hover {
    transition: .7s;
    color: white;
    background: #185bc7;
}

.step-signup-button {
    border: none;
    background: #185bc7;
    color: white;
    border-radius: 2px;
    padding: 10px 20px;
}

.become-driver .heading {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.become-driver .sub-heading {
    font-size: 30px;
    font-weight: bold;
}

.become-driver .description {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.icon-button {
    border: none;
    background: #185bc7;
    color: white;
    width: 50px;
    height: 50px;
}

.icon-button:hover {
    transition: .7s;
    box-shadow: 1px 1px 14px -3px #185bc7;
}


.page-heading-only .descriptiion {
    font-size: 28px;
    font-weight: normal;
    text-align: center;
}

.believe-section .heading {
    font-weight: bold;
    font-size: 35px;
}

.believe-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.believe-section .description {
    width: 60%;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

.offer-section {
    background-image: url('../images/offer.jpg');
}

.offer-section .title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.overlap-image6 {
    padding-top: 120px;
    padding-bottom: 80px;
    background: rgba(19, 9, 91, 0.85);
}
.offer-card {
    border: 1px solid cyan;
    border-radius: 11px;
    padding: 20px 15px !important;
    min-height: 250px;
}

.offer-card .card-heading {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.offer-card .body {
    text-align: center;
}

.retargeting-section {
    background-image: url('../images/1a.jpg');
}

.overlap-image7 {
    height: 750px;
    background: rgba(0,0 , 0, 0.3);
}

.overlap-image8 {
    height: 700px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.retargeting-section .heading {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.retargeting-section .description {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.dashboard-section {
    background-image: url('../images/dashboard.jpg');
}

.dashboard-section .heading {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.dashboard-section .section-hr {
    background-color: white;
}

.dashboard-section .descrition {
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 20px;
}

.list-seperated {
    margin-top: 30px;
    text-align: center;
}

.list-seperated .list-item {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    position: relative;
}

.list-seperated .list-item:not(:last-child):after {
    position: absolute;
    content: '';
    right: 0;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    margin-right: -8px;
    background: white;
    bottom: 23px;
}

.adtypes {
    padding-top: 70px;
    padding-bottom: 70px;
}

.adtypes .heading {
    color: rgba(19, 9, 91, 0.85);
    font-size: 30px;
    font-weight: bold;
}

.adtypes .section-hr {
    background-color: rgba(19, 9, 91, 0.85);
}

.adtypes button {
    border: none;
    background: white;
    border: 1.5px solid rgba(19, 9, 91, 0.85);
    border-radius: 2px;
    font-size: 20px;
    padding: 6px 15px;
    color: rgba(19, 9, 91, 0.85);
    transition: .7s;
}

.adtypes button:hover {
    background: rgba(19, 9, 91, 0.85);
    color: white;
}

.faqs {
    padding-top: 70px;
    padding-bottom: 70px;
}

.faqs .heading {
    color: rgba(19, 9, 91, 0.85);
    font-size: 30px;
    font-weight: bold;
}

.faqs .section-hr {
    background-color: rgba(19, 9, 91, 0.85);
    width: 100%;
}

.faqs .faq-list {
    padding: 0px 120px;
}

.faqs .accordian {
    border-top: 1px solid rgba(0, 0, 0, 0.6);
    padding: 10px 10px 10px 0px;
}

.faqs .accordian:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.faqs .accordian .title {
    color: rgba(0, 0, 0, 0.6);
}

.faqs .accordian .title i {
    font-size: 20px;
}

.faqs .accordian .inner {
    color: rgba(0, 0, 0, 0.7);
}

.faq-link {
    color: rgba(19, 9, 91, 0.85);
    font-weight: bold;
    font-size: 20px;
}

.faq-link a {
    color: rgba(19, 9, 91, 0.85);
    text-decoration: underline;
}

.indexbody .brand-div {
    margin-top: -60px;
    background: white;
}

.indexbody .fairextra-intro {
    padding: 40px 80px;
}

.indexbody .fairextra-intro .intro-div {
    border: 1px solid #ccc;
    text-align: center;
}

.indexbody .fairextra-intro .intro-div .heading {
    color: rgba(19, 9, 91, 0.85);
    font-weight: bold;
}

.indexbody .fairextra-intro .intro-div .subtitle {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Oxygen', sans-serif;
}

.indexbody .fairextra-intro .intro-div .description {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.heading, .section-heading, .title, .card-heading, .form-header, .privacy-head {
    font-family: 'Rubik';
}

.description, .section-sub-desc, .team-location-desc, .card-heading ~ .body, .contact-form-desc, .contact-content, .slider, .privacy-content {
    font-family: 'Inter', sans-serif;
}

.inner {
    font-family: 'Roboto Condensed';
}

.grid-image-block .bg-image {
    height: 460px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.grid-image-block .heading {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

.grid-image-block .description {
    text-align: center;
    width: 60%;
    font-family: 'Inter', sans-serif;
}

.grid-image-block .learn-button, .grid-center .learn-button {
    border: 2px solid white;
    background: none;
    color: white;
    padding: 12px 35px;
    transition: .7s;
}

.grid-image-block .learn-button:hover, .grid-center .learn-button:hover {
    background: white;
    color: rgba(19, 9, 91, 0.85);
    font-weight: bold;
}

.grid-image-block .image1, .grid-center.grid1 {
    background-image: url('../images/mobile-laptop.jpg');
}

.overlap-image9 {
    height: 100%;
    background: rgba(2, 5, 196, 0.7);
}

.grid-image-block .image2, .grid-center.grid2 {
    background-image: url('../images/car.jpg');
}

.overlap-image10 {
    height: 100%;
    background: rgba(150, 163, 2, 0.6);
}

.grid-image-block .image3, .grid-center.grid3 {
    background-image: url('../images/car-person.jpg');
}

.overlap-image11 {
    height: 100%;
    background: rgba(7, 138, 27, 0.5);
}

.grid-image-block .image4, .grid-center.grid4 {
    background-image: url('../images/dashboard-grid.jpeg');
}

.overlap-image12 {
    height: 100%;
    background: rgba(240, 28, 5, 0.6);
}


.grid-center {
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.grid-center .heading {
    font-weight: bold;
    font-size: 35px;
}

.grid-center .description {
    font-family: 'Inter', sans-serif;
}

.indexbody div[class^=overlap-image], .indexbody2 div[class^=overlap-image] {
    height: 100%;
}

.overlap-image13 {
    background: linear-gradient(to bottom, rgba(0,0,255,0.6), rgba(0,0,0,.3));
}

.overlap-image14 {
    background: rgba(0, 0, 0, 0.5);
}

.overlap-image15 {
    background: linear-gradient(to top, rgba(0,0,255,0.3), rgba(0,0,0,.6));
}

.overlap-image16 {
    background: rgba(0, 0, 0, 0.6);
}

.for-drivers {
    background-image: url('../images/2a.jpg');
    height: 600px;
}

.for-drivers .description {
    font-family: 'Inter', sans-serif;
}

.overlap-image17 {
    background: linear-gradient(to left, rgba(0,0,255,0.7), rgba(0,0,0,.3));
    padding: 0px 30px;
}

.for-drivers .heading {
    font-weight: bold;
}

.indexpage2 .page-heading-only ~ a {
    color: cyan;
    font-weight: bold;
    text-decoration: underline;
}

.brand-index2 {
    padding-right: 0px !important;
}

.indexbody2 .fairextra-intro .intro-div .heading {
    color: rgba(13, 51, 8, 0.85);
    font-weight: bold;
}

.indexbody2 .fairextra-intro .intro-div .description {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.column-layout .img-dir-left img, .column-layout .img-dir-left .comment-card {
    box-shadow: -4px 2px 34px -12px #bbb;
}

.column-layout .img-dir-right img, .column-layout .img-dir-right .comment-card {
    box-shadow: 2px -4px 34px -12px #bbb;
}

.column-layout .heading {
    color: rgba(13, 51, 8, 0.85);
    font-weight: bold;
}
.column-layout a {
    color: rgba(65, 166, 209, 1);
    font-weight: bold;
    text-decoration: underline;
}
.column-layout .img-dir-right img {
    width: inherit;
}
.column-layout .img-dir-right .order-md-1 {
    padding-right: 30px;
}
.column-layout .img-dir-left .order-md-1, .column-layout .img-dir-right .order-md-12 {
    position: relative;
}

.comment-card {
    position: absolute;
    background: white;
}

.index-bgimage {
    background-image: url('../images/2b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.index-bgimage small {
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
}
.grid-center.grid1 {
    margin-top: 140px;
}